<% if logged_in %>
    You are already identified with Instagram <br/>
    <a href="">My Medias</a><br/>
    <a href="/signout">Sign out</a><br/>
    <% @hashie.data.each do |h| %>
        <img src="<%= h.images.low_resolution.url %>">
    <% end %>
<% else %>
    <a href="<%= auth_url %>">Auth with Instagram</a>
<% end %>

